<footer>
    <div class="contact">
        <p>Konakt</p>
        <ul>
            <li>018-30 40 06</li>
            <li>Tomtebovägen 18<br> 16866 Uppsala</li>
            <li>modernabokklubben@klubb.se</li>
        </ul>
    </div>   
    <div class="copyright">
        <p><i class="fa-regular fa-copyright"></i> COPYRIGHT MODERNABOKKLUBBEN.SE 2023</p>
    </div>
</footer>
</body>
</html>