
<%- include('./header'); %>

<div class="mainPage page">
    <div>
        <h2>Välkommen</h2>
        <p>Bokklubben med ljudböcker</p>
        <p>Välkommen till vår moderna bokklubb. Här lyssnar vi på ljudböker istället för att läsa dem. Vi ses med 6-8 veckors mellanrum. Vi turas om att bjuda på middag när vi ses. Är du sugen på att bli medlem? Klicka på "Lägg till medlem" och fyll i formuläret.</p>
    </div>
</div>
    
<%- include('./footer'); %>


